
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 18, 18, 18; /* Dark background */
    --foreground: 255, 255, 255; /* Light text color */
    --card: 26, 26, 26; /* Darker card background */
    --card-foreground: 255, 255, 255;
    --popover: 39, 39, 39;
    --popover-foreground: 255, 255, 255;
    --primary: 163, 73, 164; /* Purple */
    --primary-foreground: 255, 255, 255;
    --secondary: 51, 51, 51;
    --secondary-foreground: 255, 255, 255;
    --muted: 64, 64, 64;
    --muted-foreground: 170, 170, 170;
    --accent: 255, 204, 0; /* Yellow */
    --accent-foreground: 18, 18, 18;
    --destructive: 255, 90, 90;
    --destructive-foreground: 18, 18, 18;
    --border: 80, 80, 80;
    --input: 80, 80, 80;
    --ring: 255, 0, 255;
    --proprieties-color: 163, 73, 164; /* Violet */
    --internes-color: 73, 163, 74; /* Green */
    --publiques-color: 74, 163, 163; /* Teal */
    --externes-color: 204, 102, 51; /* Orange */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
